@use "../base";
@use "../front-page";
@use "../global";
@use "../header";
@use "../footer";


/*-------------------------------

about

--------------------------------*/

.about {
    .about-text {
        p {
            margin-bottom: 30px;
            max-width: 48%;
        }
    }

}


@media screen and (max-width: 768px) {

    .about {
        .about-text p {
            max-width: 100%;
        }
    }

    
}