@use "../global/" as g;


/*------------------------------

base 

------------------------------*/

html {
  font-size: 62.5%;
  line-height: 1.5;
  font-family: "メイリオ", "Meiryo", "MSゴシック", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  color: #333;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover {
  opacity: 0.7;
}

li {
  list-style: none;
}

body {
  font-size: 1.2rem;
  color: #333;
  position: relative;
  min-height: 100vh;
}

.wrapper {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}

.logo {
  width: 180px;
}

h1 {
  width: 180px;
  height: 25px;
}

h2 {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 1.4rem;
}





@media screen and (max-width: 768px) {

  img {
    width: 100%;
  }

  .content .product-list {
    li {
      width: 47%;

    }
  }

  .items {
    .item {
      flex-direction: column;

      .item-img {
        width: 100%;
        margin-bottom: 30px;
      }

      .item-text {
        width: 100%;
      }
    }
  }



}